.container_geral_events_page {
    background-color: rgba(238, 130, 238);
    height: 100vh;
}

.container_events_page.modal_open {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.container_events_page.modal_open::after {
    pointer-events: none;
}

.container_cards_events_page {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 84%;
    height: 80%;
}

@media screen and (max-width: 768px) {
    .container_cards_events_page {
        margin-top: 0px;
        width: 94%;
        overflow-y: auto;
        height: 90vh;
        align-items: center;
        justify-content: center;
    }    
}