.container_create_event_page{
    position: absolute;
    z-index: 10;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 92vh;
}

.form_titulo_create_event_page{
    width: 96%;
    color: white;
    margin-bottom: 20px;
}

.form_geral_create_event_page{
    height: 78%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(71, 38, 71, 0.6);
}

.form_create_event_page > div {
    display: flex;
}

.form_create_event_page{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
}

.container_input {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
    color: white;
    margin-bottom: 12px;
}

.container_input > img {
    height: 8vh;
}

.container_input > label {
    margin-bottom: 10px;
}

.container_input > div {
    display: flex;
    justify-content: space-between;
    cursor: not-allowed;
    border-bottom: 2px solid white;
    font-size: 16px;
}

.container_input > div > p {
    font-size: 16px;
}

.container_input > div > svg {
    color: black;
}

.container_description{
    display: flex;
    flex-direction: column;
    color: white;
    width: 95%;
    margin: 0 auto;
}

.input_create_event {
    margin: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    color: white;
    outline: none;
    margin: auto;
    width: 100%;
  }

.container_description > label {
    margin-bottom: 10px;
}

.container_buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container_buttons > button {
    margin-top: 20px;
    width: 30%;
    height: 40px;
    background-color: rgba(238, 130, 238);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;
}

.preview_image{
    width: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .form_geral_create_event_page{
        height: 84%;
    }
    
}

@media screen and (max-width: 440px) {
    .form_geral_create_event_page{
       height: 60%;
    }

    .form_titulo_create_event_page{
        margin-bottom: 10px;
        
    }
    .form_titulo_create_event_page > h1 {
        font-size: 22px;
    }

    .container_input > label {
        font-size: 12px;
    }
    
    .container_buttons > button {
        width: 40%;
    }
}