.container_input {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: auto;
  color: white;
  margin-bottom: 12px;
}

@media screen and (max-width: 440px) {
  .container_input > label{
    font-size: 12px;
  }
}