.container_geral_events_page{
  width: 26vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 6px;
}

.container_geral_events_page > div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 0px 40px;
}

.container_titulo_events_page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card_footer_buttons{
  display: flex;
  justify-content: space-between;
}

.container_geral_events_page > div > img{
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  margin-top: 10px;
}

.container_geral_events_page > div:last-child{
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 30px;
}

.action_button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  color: rgba(238, 130, 238);
  font-size: 30px;
  display: flex;
}


@media screen and (max-width: 768px) {
  .container_geral_events_page{
    width: 90vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 6px;
  }

  @media screen and (max-width: 768px) {

    .container_geral_events_page{
      align-items: center;
    }
    
    .container_imagem_titulo_events_page{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

    }

    .container_titulo_events_page{
      margin-left: 20px;
    }

    .hide_on_phone{
      display: none;
    }

    .container_geral_events_page > div:first-of-type {
      margin: 0px;
    }

    
  }

  
}