.container_geral {
  width: 24vw;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(71, 38, 71);
  margin-top: 20px;
  border-radius: 6px;
}

.container_imagem_titulo > div{
  height: 16vh;
}

.container_imagem_titulo > div > img {
  height: 80%;
  margin-top: 10px;
}

.container_geral > div:first-of-type {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0px 10px;
}

.container_titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.card_footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: 20%;
}

.card_footer p {
  line-height: 21px;
  height: calc(2 * 21px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

.card_footer > div:last-of-type > button {
  background-color: transparent;
  color: rgba(71, 38, 71);
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  height: 20px;
}

.card_footer > div:last-of-type > button:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card_footer > div:last-of-type > button > svg {
  font-size: 14px;
  margin-left: 4px;
}

.card_footer_buttons {
  display: flex;
  justify-content: space-between;
}

.card_footer_buttons > button {
  height: 15px;
  width: 30px;
}

.container_geral > div:last-child {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  width: 100%;
}

.action_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  color: rgba(71, 38, 71);
  font-size: 30px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .container_geral {
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 1px;
    border-radius: 6px;
  }

  .container_imagem_titulo {
    display: flex;
    justify-content: space-around;
  }

  .container_titulo {
    margin-left: 8px;
  }

}
